body{
    background-color:lightgray;
}

#container {
    width : 350px;
    /* height: auto; */
    margin : 0 auto;
    text-align: center;
    background : rgb(255, 255, 255);
    overflow-y: auto;
    color: limegreen;
    border: 10px solid darkslategrey;
    border-radius: 10px;
    height: 1000 px;
}
#container h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    /* background-color:whitesmoke; */
    text-shadow: 2px 2px lightgray ;
}

#container ul{
    margin-top: 50px;
    margin-bottom: 50px;

    padding-left: 0;
}

#container ul li {
    list-style-type: square;
    border:2px solid darkslategray;
    width:80%;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    height : 35px;
    margin: 10px auto;
    text-align: left;

}

#container ul li label{
    margin: 0 auto;
    vertical-align: middle;
    height: 100%;
    line-height: 33px;
    font-size: 16px;
    font-family: cursive
}

#container ul li #check {
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-top: 5px; 
    -webkit-appearance: none;
    border: 2px solid limegreen;
    border-radius: 3px;
    position: relative;
    outline: 0;

}

#container ul li #check:checked:after {
    content: '\2714';
    font-size: 28px;
    position: absolute;
    top: -13px;
    left: 3px;
    color: red;
}


#container ul li input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: rgba(0,0,0,.5);
}

#input{
    border: 1px solid black;
    border-radius: 5px;
    font-family: cursive;
    color: gray;
    text-align: left;
    padding-left: 10px;
}

#container .controls {
    width: 60%;
    margin: auto;
}


#container .controls #input:focus {
    outline: 0;
}

#container .controls button {
    width : 100%;
    background: red;
    border: none;
    height: 30px;
    margin-top: 2px;
    cursor: pointer;
    color: white;
}

#container .controls button:focus {
    outline: 0;
}

#container .controls button:hover {
    transform: scale(1.05);
}

#container .controls #add {
    background-color: limegreen;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#container .controls #remove {
    background-color: blue;
    border-radius: 10px;
    margin-bottom: 5px;
}

#container .controls #removeAll {
    background-color: orangered;
    border-radius: 10px;
    margin-bottom: 5px;
}

#container .mycheck {
    opacity: 1;
    border-radius: 10px;
}

.visual {
    opacity: 1 !important ;
    border-radius: 10px;

}